<!DOCTYPE html>
<html>
{% set base_path = '/' %}
<head>
<meta charset="utf-8" />
<base href="/" />
<title>{% block title %}Getting Things Done{% endblock %}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
<meta name="apple-mobile-web-app-status-bar-style" content="yes" />
<link rel="stylesheet" href="{{ base_path }}dist/css/style.min.css"/>
<link rel="manifest" href="{{ base_path }}manifest.json"/>
<script type="text/javascript">var basePath = "{{ base_path }}";</script>
</head>
{% flush %}
{% block body %}
<body>
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button id="menu-toggle" type="button" class="navbar-toggle collapsed" aria-expanded="false">
                <span class="sr-only">{{ "Toggle navigation"|trans }}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div id="back-button" data-target="back-button">
                {% block back_to %}
                    {% import 'app/task/actions.html.twig' as actions %}
                    {{ actions.back_to() }}
                {% endblock %}
            </div>
            <a class="navbar-brand" href="{{ path('app_tasks') }}">{% block page_title %}Getting things done{% endblock %}</a>
        </div>
    </div>
</nav>
<div id="app-body">
    <div id="app-panel" class="clearfix">
        <div class="container">
            <div class="row">
                <div data-target="messages" class="col-md-12">
                    {% block messages %}
                        {% for label, flashes in app.session.flashbag.all %}
                            <div class="alert alert-{{ label }} alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="{{ "Close"|trans }}"><span aria-hidden="true">&times;</span></button>
                                {% for flash in flashes %}
                                    {{ flash }}<br/>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <div data-target="content">
            {% block content %}
                <h1>Getting things done</h1>
            {% endblock %}
        </div>
    </div>
    <div id="menu-panel" class="inverse">
        <div data-target="menu">{% block menu %}{% endblock %}</div>
        <hr/>
        {% include 'GoatAccountBundle:Account:status.html.twig' %}
        <hr/>
        <ul class="list-group">
            <li class="list-group-item"><a href="{{ path('app_help') }}">{{ "Help" }}</a></li>
        </ul>
    </div>
</div>
<script src="{{ base_path }}dist/js/script.min.js" type="text/javascript" async defer></script>
{# <script src="{{ asset('bundles/calista/calista.min.js') }}"></script> #}
<script src="//cdn.jsdelivr.net/webshim/1.16.0/polyfiller.js"></script>
<script>
webshims.setOptions('forms-ext', {types: 'date'});
webshims.polyfill('forms forms-ext');
</script>
</body>
{% endblock %}
</html>