<!DOCTYPE html>
<html>
{% set base_path = '/' %}
<head>
<meta charset="utf-8" />
<base href="/" />
<title>{% block title %}Getting Things Done{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
{# <link rel="stylesheet" href="{{ base_path }}dist/css/style.min.css"/> #}
<script type="text/javascript">var basePath = "{{ base_path }}";</script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
{% flush %}
{% block body %}
<body>
<nav class="navbar navbar-light bg-light">
    <div id="back-button" data-target="back-button">
        {% block back_to %}
            {% import 'app/task/actions.html.twig' as actions %}
            {{ actions.back_to() }}
        {% endblock %}
    </div>
    <a class="navbar-brand" href="{{ path('app_tasks') }}">{% block page_title %}Getting things done{% endblock %}</a>
</nav>
<div id="app-body">
    <div id="app-panel" class="clearfix">
        <div class="container">
            <div class="row">
                <div data-target="messages" class="col-md-12">
                    {% block messages %}
                        {% for label, flashes in app.session.flashbag.all %}
                            <div class="alert alert-{{ label }} alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="{{ "Close"|trans }}"><span aria-hidden="true">&times;</span></button>
                                {% for flash in flashes %}
                                    {{ flash }}<br/>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <div data-target="content">
            {% block content %}
                <h1>Getting things done</h1>
            {% endblock %}
        </div>
    </div>
    <div id="menu-panel" class="inverse">
        <div data-target="menu">{% block menu %}{% endblock %}</div>
        <hr/>
        {% include 'GoatAccountBundle:Account:status.html.twig' %}
        <hr/>
        <ul class="list-group">
            <li class="list-group-item"><a href="{{ path('app_help') }}">{{ "Help" }}</a></li>
        </ul>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
{# <script src="{{ base_path }}dist/js/script.min.js" type="text/javascript" async defer></script> #}
{# <script src="{{ asset('bundles/calista/calista.min.js') }}"></script> #}
<script src="//cdn.jsdelivr.net/webshim/1.16.0/polyfiller.js"></script>
<script>
webshims.setOptions('forms-ext', {types: 'date'});
webshims.polyfill('forms forms-ext');
</script>
</body>
{% endblock %}
</html>