{% extends 'base.html.twig' %}

{# {% form_theme form with ['bootstrap_3_horizontal_layout.html.twig'] %} #}

{% import 'app/task/actions.html.twig' as actions %}

{% block backto %}
    <a class="navbar-brand" href="{{ path('app_tasks') }}" title="{{ "Back to home"|trans }}">
        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
        <span class="sr-only">{{ "Back to home"|trans }}</span>
    </a>
{% endblock %}

{% block menu %}
    <div class="buttons">
        <a href="{{ path('app_task_delete', {id: task.id, _from: app.request.requestUri}) }}" class="btn btn-danger">
            <span class="glyphicon glyphicon-delete" aria-hidden="true"></span>
            {{ "Delete"|trans }}
        </a>
        <hr/>
        {#
        <a href="{{ path('app_task_add', {_from: app.request.requestUri}) }}" class="btn btn-primary">
            <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
            {{ "Add file"|trans }}
        </a>
        <hr/>
        <a href="{{ path('app_task_add', {_from: app.request.requestUri}) }}" class="btn btn-danger">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            {{ "Delete"|trans }}
        </a>
         #}
    </div>
{% endblock %}

{% block content %}
    <div id="task-view" class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    {{ actions.note_count(task) }} &nbsp;
                </div>
                <h2>{{ task.title }}</h2>
                <div class="well">
                    {% if task.description %}
                        {{ task.description|markdown }}
                    {% else %}
                        <span class="text-muted">{{ "There is no description"|trans }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" id="notes">
                <hr/>
                {{ render(controller('AppBundle:Note:viewAll', {'taskId': task.id})) }}
                {{ render(controller('AppBundle:Note:partialAdd', {'taskId': task.id})) }}
            </div>
        </div>
    </div>
{% endblock %}
