{% extends 'base.html.twig' %}

{% block back_to %}
    {% import 'app/task/actions.html.twig' as actions %}
    {{ actions.back_to('gestion_quittance_list', {contract: contract.id}, "Back to contract"|trans, 'menu-left') }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1>{{ "Generate quittances" }}</h1>

            {{ form_start(form) }}
            {{ form_errors(form) }}

            {{ form_row(form.date1) }}
            {{ form_row(form.date2) }}

            {{ form_row(form.submit, { 'attr': {'class': 'btn btn-primary'}}) }}

            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
