{% extends 'base.html.twig' %}

{% block menu %}
    <div class="buttons">
        <a href="{{ path('gestion_quittance_control', {contract: contract.id, _from: app.request.requestUri}) }}" class="btn btn-primary">
            <span class="fa fa-cog" aria-hidden="true"></span>
            {{ "Control"|trans }}
        </a>
        <a href="{{ path('gestion_quittance_generate_form', {contract: contract.id, _from: app.request.requestUri}) }}" class="btn btn-primary">
            <span class="fa fa-file" aria-hidden="true"></span>
            {{ "Export"|trans }}
        </a>
    </div>
{% endblock %}

{% block back_to %}
    {% import 'app/task/actions.html.twig' as actions %}
    {{ actions.back_to('gestion_index', {}, "Back to gestion"|trans, 'menu-left') }}
{% endblock %}

{% block content %}
    {{ calista_page('gestion_quittance', {base_query: {contract: contract.id}}) }}
{% endblock %}
